body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;

  min-height: 100vh;
}

header {
  position: fixed;
  background-image: url("Layer 5.png");
  background-size: 100% 350%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 100;
}

.logo {
  align-items:flex-start;
  padding: 0px;
  scale: 60%;
  color: rgb(203, 203, 203);
  pointer-events: none;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: rgb(159, 159, 159);
  padding: 6px 15px;

  font-size: 150%;
  font-weight: 600;

  transition: color 0.4s;
}

.navigation a:hover,
.navigation a.active {
  color: rgb(255, 255, 255);
}

.navigation a.active {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10px);
}

#text {
  position: absolute;
  width: 40%;
  top: 250px;
  z-index: 1;
}

.l2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.sec {
  position: relative;
  padding: 15%;
}

/**/

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  text-align: center;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#text {
  position: absolute;
  padding: 15%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 90%;
}

.sec01 {
  padding: 15%;
  text-align: center;
  color: white;
  margin-top: auto;
}

.sec01 h1 {
  margin-bottom: 30px;
  font-size: 45px;
}

.sec01 h2 {
  margin-bottom: 30px;
  font-size: 25px;
}

.sec01 p1 {
  font-size: 25px;
}

.carousel-inner {
  width: 100%;
  position: relative;
}

/**/

footer{ 
  width: 100%;
  
  right: 0;
  
  position: absolute;
  bottom: -610%;
  background: rgb(31, 31, 31);
  color: rgb(159, 159, 159);
  padding: 20px 0 2px;
  font-size: 13px;
  line-height: 20px;

}

.copy{
  color: rgb(72, 72, 72);
 

}
  
.logof{
  padding: 1%;}

.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

}
.col{
  right: -10%;
  flex-basis: 30%;
  padding: 20px;

}.logof-f2{
 
  align-items: flex-start;
  opacity: 50%;
  width:90px;
  margin: 35px;
  
}

.logof-f{
  
  align-items: flex-start;
  opacity: 50%;
  width:150px;
  margin: 15px;
  
}


.logof{
  opacity: 50%;
  width:320px;
  margin: 25px;
}

.col h3{
 
  margin-bottom: 40px ;
  position: relative;
}

.email-id{
  width: fit-content;
  border-bottom: 1px solid rgb(121, 120, 120);
  border-bottom: 0px 0;
}

.social-icons {
  display: flex;
  gap: 20px;
  position: relative;
  padding-bottom: 5px; 
}

.social-icons::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -40%;
  width: 4000%;
  height: 50px;
  background-color: rgb(24, 24, 24);
  z-index: 0;
}

.social-icons i {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  line-height: 40px;
  font-size: 30px;
  color: rgb(103, 103, 103);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  z-index: 1;
}

.nav-link{
  color: rgb(159, 159, 159);
}
.nav-link::after{

  color: rgb(255, 255, 255);
}
